.home {
  flex: 1;
  padding: 32px;
  text-align: left;

  @media (max-width: 1024px) {
    padding: 20px;
  }
}

.home__intro {
  margin-top: 48px; 
  margin-bottom: 24px;
}

.home__intro h1 {
  margin: 0 0 20px;
  text-align: left;
}

.home__intro p {
  color: var(--text);
}

.home__filtros {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 28px;
}

.filtro-icono {
  width: 36px;
  height: 36px;
  margin-bottom: 4px;
}

.filtro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:end;
  border: 1px solid var(--border);
  background: transparent;
  color: var(--text);
  padding: 8px 16px;
  border-radius: 16px;
  font-size: 14px;
  font-family: 'Google Sans', sans-serif;
  font-weight: 500;
  cursor: pointer;
  height: 78px;
  transition: background 0.1s, color 0.1s, border-color 0.1s;
}

.filtro:hover {
  border-color: var(--accent-border);
  color: var(--accent);
}

.filtro.is-active {
  background: var(--accent);
  border-color: var(--accent);
  color: #fff;
}

.home__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  opacity: 1;
  transition: opacity 0.1s ease;
}

.home__grid--transicion {
  opacity: 0;
}

.home__sin-resultados {
  color: var(--text);
  padding: 32px 0;
}
